# Project exclude paths
/http/target/
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/.bsp/
/.idea

# Configuration file for tests
/modules/common/testUtils/src/main/resources/*.conf

# Targets from modules
/modules/*/domain/target/
/modules/*/infrastructure/target/
/modules/common/unionTypes/target/
/modules/common/testUtils/target/
/modules/common/abstractTypes/target/
/modules/common/validation/target/
/modules/common/error/target/
