# Project exclude paths
/http/target/
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/.bsp/
/.idea

# Configuration file for tests
/modules/common/testUtils/src/main/resources/*.conf

# Targets from modules
/modules/*/*/target/
